<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820772368407-b1irjlpu7squ4u35nluq50920v5n3tm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820772368407-b1irjlpu7squ4u35nluq50920v5n3tm4</string>
	<key>API_KEY</key>
	<string>AIzaSyCTLHPmBDo0lOZe8IturuQT8whl3r1LeOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>820772368407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.siam.Cinemo</string>
	<key>PROJECT_ID</key>
	<string>cinemo-a25ab</string>
	<key>STORAGE_BUCKET</key>
	<string>cinemo-a25ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820772368407:ios:abfd81eb651082465a2c52</string>
</dict>
</plist>